@charset "utf-8";
/* # header
---------------------------------------------------------------------------- */
#header {
    border-top: 7px solid #ff839d;
}
.header-inner {
    width: 1000px;
    margin: 0 auto;
}
.ttl-h1 {
    font-size: 12px;
    color: #ff839d;
}
.text-size-l {
    font-size: 28px;
    font-weight: bold;
}
.f-color01{
  color:#bc9c98;
}
.slide-content {
    border-top: 5px solid #ffc6d2;
    border-bottom: 5px solid #ffc6d2;
    background: url(../images/top/slide-bg.png) center;
}
/* # gnav
---------------------------------------------------------------------------- */
#nav li {
    float: left;
}

/* # contents
---------------------------------------------------------------------------- */
#content{
  width: 1000px;
  margin: 0 auto;
}

/* # footer
---------------------------------------------------------------------------- */
.footer-bg01 {
    background: #e0dad0;
    padding: 40px 0 20px;
}
.footer-bg02{
    background: #807264;
}
.footer-inner01 {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.footer-inner02 {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

/* # gototop
---------------------------------------------------------------------------- */

/* # common_style
---------------------------------------------------------------------------- */
