@charset "utf-8";

/* top mainimg
---------------------------------------------------------------------------- */
.ttl-s{
  font-weight: bold;
}
.link-list a {
    display: block;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #424242;
}
.link-list {
    width: 730px;
    margin: 0 auto;
}
.voice-bg {
    background: url(../images/common/footer/text-voice.png) top center no-repeat;
    padding-top: 30px;
}
.faq-bg {
    background: url(../images/common/footer/text-faq.png) top center no-repeat;
    padding-top: 30px;
}
.cop-font{
  color: #FFFFFF;
}

/* about
---------------------------------------------------------------------------- */
.about-main-banner,
.content-main-banner {
  height: 161px;
  border-top: 5px solid #ffc6d2;
  border-bottom: 5px solid #ffc6d2;
  background: url(../images/about/about-head-banner-bg.png) center;
}
.about-title,
.content-title {
    width: 1000px;
    text-align: left;
    margin: 50px auto 0;
}
.line-border {
  border: 2px solid;
}
.line-border-bg-color-pink {
  border-color: #ff839d;
}
.line-border-bg-color-brown {
  border-color: #a78783;
}
.about-section-1-text {
  float: left;
  width: 597px;
  font-size: 16px;
}
.abtou-section-1-image {
  float: right;
}
.about-section-2-left {
  float: left;
  width: 350px;
}
.about-section-2-center {
  float: left;
}
.about-section-2-right {
  float: right;
  width: 350px;
}
.about-section-2-bride-worries-list li,
.about-section-2-secretary-worries-list li {
  height: 50px;
  line-height: 50px;
  background: #a78783;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
li.font-size-18 {
  font-size: 18px;
}
.about-section-3-content-left {
  width: 590px;
  float: left;
}
.about-section-3-content-right {
  float: right;
}
.about-section-3-list {
  width: 590px;
  background: #ff839d;
  color: #fff;
  font-size: 20px;
}
.about-section-3-list li {
  width: 280px;
  float: left;
  margin-top: 12px;
  margin-left: 15px;
}
.about-section-3-title {
  font-size: 25px;
  font-weight: 700;
}
.about-section-3-title-color-yellow {
  color: #ffa801;
}
.about-section-3-title-color-pink {
  color: #d63860
}
.font-size-25 {
  font-size: 25px;
}
.company-detail {
  padding: 25px;
  width: 950px;
  margin: 0 auto;
}
.company-detail tr {
  border-bottom: 1px solid #d63860;
}
.company-detail td {
  padding: 20px 0 20px 10px;
  font-size: 20px;
  color: #aaaaaa;
}
.company-detail-left {
  width: 20%;
}
.content-map-iframe {
  width: 100%;
}
.blog-detail-link {
  display: block;
  text-align: right;
}
.w100 {
  width: 100%;
}
.w510{
  width: 510px;
}
.h100{
  height: 100px;
}
.h110{
  height: 110px;
}
.pd5{
  padding: 5px;
}
.pd10{
  padding: 10px;
}
.bod3{
  border:3px solid;
}
.bg-pink01{
  background: #ffc6d2;
}
.bod-co-pink01{
  border-color: #ff839d;
}
.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}
.ttl-size25{
  font-size: 25px;
}
.ttl-size15{
  font-size: 15px;
}
.text-size20{
  font-size: 20px;
}
.bg-pink02{
  background: #ffdde5;
}
.text-col-pink01{
  color: #dc6161;
}
.bod-1-dotted{
  border-bottom: 1px dotted #000000;
}
.pd-tm-20{
  padding:20px 0;
}
.ttl-Property01{
    width: 290px;
    background: #ff839d;
    padding: 10px 15px;
    font-size: 20px;
    color: #FFFFFF;
}
.ttl-Property02{
    width: 290px;
    padding: 7px 15px;
    font-size: 20px;
    color: #FFFFFF;
    border: 3px solid #ff839d;
    margin-left: 15px;
    text-align: center;
}
.content-map iframe {
    height: 400px;
    width: 100%;
}

/* top
---------------------------------------------------------------------------- */
.txt-color-pink{
  color: #d63860;
}
.ttl-01:after {
  content: "";
  position: absolute;
  border: 1px solid #424242;
  right: 0;
  top: 30px;
  width: 68px;
}
.ttl-01:before {
  content: "";
  position: absolute;
  border: 1px solid #424242;
  left: 0;
  top: 30px;
  width: 68px;
}
.ttl-01 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  position: relative;
}
.ttl-02{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.ttl-03{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.ttl-04{
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  background: #ff839d;
  padding: 5px 20px;
}
.ttl-05{
  color: #a78783;
  font-size: 25px;
}
.ttl-06{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.ttl-07{
    font-size: 35px;
    font-weight: 700;
}
.ttl-08{
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0px 2px 10px rgba(70, 70, 70,0.5);
}
.txt-center{
  text-align: center;
}